body{
	font-family: 'Work Sans', sans-serif;
}
.centrera{
	margin: auto;
	margin-right: 34px; 
}
.logga{
	width: 50px;
}
.ruta{
	margin: auto;
	height: 40%;
	padding: 40px;
	background-color: #336699;
	background: rgba(76, 175, 80, 0.5);
}
.rubrik{
	text-align: center;
	padding-top: 40px;
}
.bakgrund{
	background-image: url('Bilder/Huvudbild.PNG');
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
}
.rand{
	height: 50px
	background-color: #336699;
	color: #336699;
}
.sektion1{
	padding: 40px;
}
.huvudrubrik{
	margin: auto;
	padding-right: 910px;
}
.galleri{
	border: gray solid 5px;
	background-color: lightgray;
}
.bildstorlek{
	height: 193px;
}
.knapp{
	background-color: #336699;
}
.information{
	background-color: #336699;
	padding: 20px;
}
.kort{
	margin: 40px;
}
.lar-dig-mer{
	padding: 20px;
}
.lista{	
	padding: 20px;
	background-color: red;
	height: 600px;
}
.kodspel{
	padding: 20px;
	background-color: #336699;
}
.spelet{
	width: 100%;
	height: 600px;
	background-color: lightblue;
}
.quiz{
	background-color: pink;	
	width: 100%;
	height: 60%;
}
.bildgalleri{
	background-color: lightgray;
	width: 100%;
}
.footer{
	background-color: #336699;
}